@import 'vant/lib/index.less';

// color
:root {
  --primary-color-h: 259;
  --primary-color-s: 65%;
  --primary-color-l: 19%;
  --primary-color-a: 1;

  --primary-color-light-l-1: calc(var(--primary-color-l) + 10%);
  --primary-color-light-l-2: calc(var(--primary-color-l) + 20%);
  --primary-color-light-l-3: calc(var(--primary-color-l) + 30%);
  --primary-color-light-l-4: calc(var(--primary-color-l) + 40%);
  --primary-color-light-l-5: calc(var(--primary-color-l) + 50%);
  --primary-color-light-l-6: calc(var(--primary-color-l) + 60%);
  --primary-color-light-l-7: calc(var(--primary-color-l) + 70%);
  --primary-color-light-l-8: calc(var(--primary-color-l) + 80%);
}

@gray-1: hsla(259, 65%, 97%, 1);
@gray-2: hsla(259, 65%, 91%, 1);
@gray-3: hsla(259, 65%, 79%, 1);
@gray-4: hsla(259, 65%, 67%, 1);
@gray-5: hsla(259, 65%, 55%, 1);
@gray-6: hsla(259, 65%, 43%, 1);
@gray-7: hsla(259, 65%, 31%, 1);
@gray-8: hsla(259, 65%, 19%, 1);

// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Scheherazade:wght@400;700&display=swap');
@base-font-family: 'Poppins', serif;

// navbar
@nav-bar-arrow-size: 24px;
@nav-bar-icon-color: @gray-4;

// switch
@switch-on-background-color: @gray-5;

// paginate
@pagination-item-default-color: @gray-4;

// group cell
@cell-group-title-color: #797484;

// hack
body {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: @gray-1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @gray-3;
    border-radius: 4px;
  }
}
ul {
  list-style: inside;
}
ul.list-style-none {
  list-style: none;
}
.van-cell {
  padding: 10px 0;
  &:after {
    right: 0;
    left: 0;
  }
}
.van-cell-group__title {
  padding: 0 0 8px;
}
.van-collapse-item--border::after {
  right: 0;
  left: 0;
}
.van-hairline--top-bottom::after {
  border-width: 0;
}

// utility
.arabic {
  font-family: 'Scheherazade', serif;
  font-size: 28px;
}
.bold {
  font-weight: 700;
}
.headline {
  margin: 24px 0 12px;
}
.subheadline {
  margin: 0 0 12px;
  color: #595563;
}
.content-container {
  padding: 10px 16px;
}
.space-24 {
  margin-bottom: 24px;
}
.space-48 {
  margin-bottom: 48px;
}
.align-right {
  text-align: right;
}

// card
.hero-card {
  background: linear-gradient(135deg, #DD96F9, #995CFE);
  border-radius: 8px;
  padding: 16px;
  color: #fff;
  position: relative;
  height: 100px;
  overflow: hidden;
  animation: 1s appear;
  z-index: 1;
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 12px;
  }
  &__bg {
    position: absolute;
    bottom: -10px;
    right: 5%;
    transform: scale(.8) rotate(25deg);
    opacity: .75;
    z-index: -1;
    pointer-events: none;
  }
}

// animation
@keyframes appear {
  0% {
    opacity: 0;
  }
}